/*优惠券列表 开始*/
.couponList .page-content {
    padding: 1.68rem 0 0;
    background-color: #f5f5f5;
}
.sub-navi {
    z-index: 200;
    top: 0.9rem;
    width: 100%;
    list-style: none;
    line-height: 0.9rem;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    border-bottom: 1px solid #ededed;
}
.couponList .sub-navi .sub-item{
	width: 33.33%;
}
.sub-navi .sub-item.active{
	color: #ff3c3c;
}
.sub-navi .sub-item.active span{
	display: inline-block;
	line-height: 0.6rem;
	border-bottom:2px solid #ff3c3c ;
}
.couponListUl{
	margin-top: 0.2rem;
}
.couponListUl li{
	position: relative;
	height: 2.28rem;
	margin: 0.2rem 0;
}
.couponListUl li>img{
	position: absolute;
	left: 0;
	top: 0;
	height: 2.28rem;
	padding: 0 0.2rem;
	
}
.couponListUl li .coupon-itemText{
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	padding: 0 0.2rem;
}
.couponListUl li .coupon-itemText .itemTextLeft{
	width: 2.7rem;
	height: 2.28rem;
	color: #fff;
	margin-right: 0.3rem;
}
.couponListUl li .coupon-itemText .itemTextLeft .amount{
	font-size: 1.0rem;
	font-weight: 600;
	text-align: center;
	margin-top: 0.2rem;
}
.couponListUl li .coupon-itemText .itemTextLeft p{
	font-size: 0.3rem;
	text-align: center;
	font-weight: 400;
}
.couponListUl li .coupon-itemText .itemTextRight{
	color: #666;
	width: 3.9rem;
}
.couponListUl li .coupon-itemText .itemTextRight .name{
	font-size: 0.3rem;
	font-weight: 600;
	padding: 0.25rem 0 0.15rem;
}
.couponListUl li .coupon-itemText .itemTextRight .require{
	font-size: 0.26rem;
	line-height: 0.5rem;
	overflow: hidden;
	margin-bottom: 0.15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.couponListUl li .coupon-itemText .itemTextRight .require i{
	display: inline-block;
	width: 1.4rem;
	height: 0.5rem;
	border-radius: 0.25rem;
	border: 1px solid #fea76f;
	line-height: 0.5rem;
	text-align: center;
	color: #fea76f;
	float: right;
}
.couponListUl li .useMake,.couponListUl li .getMake{
	width: 1.4rem;
	height: 1.4rem;
	position: absolute;
	right: 0.4rem;
	top: 0.44rem;
}
.couponListUl li .useMake img,.couponListUl li .getMake img{
	display: block;
	width: 100%;
	height: 100%;
}
.getCouponButton{
	text-align: center;
	margin: 0.8rem 0;
}
.getCouponButton span,.CouponComfirm span{
	display: inline-block;
	width: 1.8rem;
	height: 0.66rem;
	border-radius: 5px;
	line-height: 0.66rem;
	text-align: center;
	font-size: 0.3rem;
	color: #fff;
	background-color: #ff3c3c;
}
.noCoupon{
	width: 2.66rem;
	height: 2.44rem;
	margin: 0 auto;
	margin-top: 2.5rem;
}
.couponList .couponListUsed,.couponList .couponListExpired{
	display: none;
}
/*优惠券列表 结束*/


/*领取优惠券开始*/
.getCoupon .mainOuter{
	padding-top: 0.2rem;
	box-sizing: border-box;
}
.getCoupon .getOuter{
	width: 7.1rem;
	height: 0.9rem;
	margin: 0 auto;
}
.getCoupon .getOuter button{
	width: 1.8rem;
	height: 0.9rem;
	line-height: 0.9rem;
	font-size: 0.38rem;
	color: #fff;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #ff3c3c;
}
.getCoupon .getOuter input{
	width: 5.3rem;
	height: 0.9rem;
	line-height: 0.5rem;
	color:#666;
	font-size: 0.38rem;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	text-align: /*center*/;
	background-color: #fff;	
	padding-left: 0.1rem;
}
.getCoupon .getOuter input::-webkit-input-placeholder{
    font-size: 0.3rem;
    line-height: 0.5rem;
}
.getMake{
	display: none;
}







/*领取优惠券结束*/


/*确认订单页面 选择优惠券 开始*/
.preorderCoupon .page-content {
    padding: 2.2rem 0 0;
    background-color: #f5f5f5;
}
.preorderCoupon .couponListUl{
	margin-bottom: 1.5rem;
}
.preorderCoupon .sub-navi .sub-item{
	width: 50%;
	position: relative;
}
.preorderCoupon .sub-navi .sub-item i{
	display: inline-block;
	width: 0.34rem;
	height: 0.34rem;
	line-height: 0.9rem;
	padding: 0.4rem 0.3rem;
	background: url(../../img/coupon/tips.png) center no-repeat;
	background-size: 0.34rem 0.34rem;
	position: absolute;
    right: 0.1rem;
    top: 0.03rem;
}
.sub-navi{
	top: 0.88rem;
}
.couponChooseInfo{
	width: 100%;
	height: 0.6rem;
	line-height: 0.6rem;
	position: fixed;
	top: 1.8rem;
	z-index: 1000;
	font-size: 0.24rem;
	background-color: #ffefca;
	padding-left: 0.28rem;
	box-sizing: border-box;
}
.preorderCoupon .layui-m-layerbtn span[yes]{
	color: #ff3c3c;
}
.preorderCoupon .require .checked{
	line-height: 0.5rem;
	padding: 0 0.1rem;
}
.preorderCoupon .require .checked span.active{
	background-color: #ff5252;
}
.preorderCoupon .layui-m-layerbtn i{
	color: #ff3c3c;
}
.preorderCoupon .layui-m-layercont{
	padding: 0.3rem 0.2rem 0.5rem;
}
.preorderCoupon .layui-m-layercont p{
	text-align: left;
	font-size: 0.26rem;
	line-height: 0.52rem;
	color: #333;
}
.preorderCoupon .layui-m-layerchild h3{
	height: 1rem;
	line-height: 1rem;
	font-size: 0.32rem;
	color: #333;
}
.CouponComfirm{
    position: fixed;
    bottom: 0;
    width: 100%;
	text-align: center;
	background-color: #f5f5f5;
	padding: 0.2rem 0;
	z-index: 1000;
}
.preorderCoupon .couponListNo{
	margin-top: 0.4rem;
}
/*确认订单页面 选择优惠券 结束*/










