/*属性选择开始*/

.attributePopupBox {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0rem;
	/*width: 100%;
	height: 8.3rem;*/
	z-index: 9999;
	background: rgba(0, 0, 0, .5);
	display: none;
	overflow: auto;
	animation: myfirst .24s;
	-moz-animation: myfirst .24s;	/* Firefox */
	-webkit-animation: myfirst .24s;	/* Safari 和 Chrome */
	-o-animation: myfirst .24s;	/* Opera */
}

@keyframes myfirst
{
from {bottom: -8.5rem;}
to {bottom: 0rem;}
}

@-moz-keyframes myfirst /* Firefox */
{
from {bottom: -8.5rem;}
to {bottom: 0rem;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
from {bottom: -8.5rem;}
to {bottom: 0rem;}
}

@-o-keyframes myfirst /* Opera */
{
from {bottom: -8.5rem;}
to {bottom: 0rem;}
}

@keyframes mySecond
{
from {bottom: 0rem;}
to {bottom: -8.5rem;}
}
@-moz-keyframes mySecond
{
from {bottom: 0rem;}
to {bottom: -8.5rem;}
}
@-webkit-keyframes mySecond
{
from {bottom: 0rem;}
to {bottom: -8.5rem;}
}
@-o-keyframes mySecond
{
from {bottom: 0rem;}
to {bottom: -8.5rem;}
}

.attributePopup {
	width: 7.5rem;
	margin: 0 auto;
	min-height: 5rem;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #333;
}

.attributePopupBox .closeit{
	width: 0.36rem;
	height: 0.36rem;
	position: absolute;
	top: 0.3rem;
	right: 0.2rem;
	background: url('../../img/ap-close.png') left top no-repeat ;
	background-size: 0.36rem 0.36rem;
}
.attributePopup .ap-imgBox {
	width: 2.1rem;
	height: 2.1rem;
	position: absolute;
	top: -.5rem;
	left: .2rem;
	border-radius: .08rem;
	overflow: hidden;
	background: #fff;
}

.attributePopup .ap-imgBox .ap-frontImg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 300;
}

.attributePopup .ap-imgBox .ap-userImg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
}

.attributePopup .ap-imgBox .ap-bgImg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.attributePopup .ap-price {
	position: absolute;
	top: .60rem;
	left: 2.5rem;
	color: #ff5252;
	font-size: .35rem;
	font-weight: 600;
}

.attributePopup .ap-price i {
	font-size: .41rem;
}

.attributePopup .ap-selectedInfo {
	color: #333;
	position: absolute;
	top: 1.2rem;
	left: 2.5rem;
	font-size: .22rem;
	width: 3.7rem;
}
.attributePopup .ap-selectedInfo span{
	margin: 0 .1rem;
}
.attributePopup .ap-main {
	padding: 0 .24rem;
	margin-top: 1.8rem;
	overflow: auto;
	height: 4rem;
}

.attributePopup .ap-main .attrName {
	font-size: .24rem;
	margin-top: .22rem;
}

.attributePopup .ap-main .attrItemBox {
	overflow: hidden;
}

.attributePopup .ap-main .attrItemBox .attrItem {
	float: left;
	display: inline-block;
	padding: .12rem .1rem;
	border-radius: .1rem;
	margin: .2rem .2rem 0 0;
	font-size: .22rem;
	color: #333;
	background: #ededed;
}

.attributePopup .ap-main .attrItemBox .attrItem.disabled {
	color: #bababa;
	background: #f8f8f8;
}

.attributePopup .ap-main .attrItemBox .attrItem.act {
	color: #fff;
	background: #ff5252;
}

.attributePopup .ap-numBox {
	height: .52rem;
	line-height: .52rem;
	margin-top: .5rem;
	padding: 0 .24rem;
	font-size: .24rem;
	color: #333;
}

.attributePopup .ap-numBox .count {
	float: right;
	font-size: .56rem;
}
.attributePopup .ap-numBox .count img{
	width: 100%;
}

.attributePopup .ap-numBox .count .subtract,
.attributePopup .ap-numBox .count .add {
	float: left;
	width: .45rem;
	height: .45rem;
	overflow: hidden;
	margin-top: .03rem;
}

.attributePopup .ap-numBox .count input {
	float: left;
	width: 1.4rem;
	height: .52rem;
	line-height: .52rem;
	text-align: center;
	background: #ededed;
	margin: 0 .1rem;
	border-radius: .1rem;
	color: #000;
	opacity: 1;
	font-family: Arial;
	font-size: .3rem;
}

.attributePopup .ap-confirm {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	background: #ededed;
	font-size: .32rem;
	margin-top: 0.48rem;
}

.attributePopup .ap-confirm.act {
	color: #fff;
	background: #ff5252;
	box-shadow: 0 0 9px 0 #f36969;
}


/*属性选择结束*/