.layui-m-layer {
	position: relative;
	z-index: 19891014
}

.layui-m-layer * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.layui-m-layermain,
.layui-m-layershade {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%
}

.layui-m-layershade {
	background-color: rgba(0, 0, 0, .7);
	pointer-events: auto
}

.layui-m-layermain {
	display: table;
	font-family: Helvetica, arial, sans-serif;
	pointer-events: none
}

.layui-m-layermain .layui-m-layersection {
	display: table-cell;
	vertical-align: middle;
	text-align: center
}

.layui-m-layerchild {
	position: relative;
	display: inline-block;
	text-align: left;
	background-color: #fff;
	font-size: 14px;
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .1);
	pointer-events: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s
}

@-webkit-keyframes layui-m-anim-scale {
	0% {
		opacity: 0;
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes layui-m-anim-scale {
	0% {
		opacity: 0;
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

.layui-m-anim-scale {
	animation-name: layui-m-anim-scale;
	-webkit-animation-name: layui-m-anim-scale
}

@-webkit-keyframes layui-m-anim-up {
	0% {
		opacity: 0;
		-webkit-transform: translateY(800px);
		transform: translateY(800px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes layui-m-anim-up {
	0% {
		opacity: 0;
		-webkit-transform: translateY(800px);
		transform: translateY(800px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

.layui-m-anim-up {
	-webkit-animation-name: layui-m-anim-up;
	animation-name: layui-m-anim-up
}

.layui-m-layer0 .layui-m-layerchild {
	width: 90%;
	max-width: 640px
}

.layui-m-layer1 .layui-m-layerchild {
	border: none;
	border-radius: 0
}

.layui-m-layer2 .layui-m-layerchild {
	width: auto;
	max-width: 260px;
	min-width: 40px;
	border: none;
	background: 0 0;
	box-shadow: none;
	color: #fff
}

.layui-m-layerchild h3 {
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	font-weight: 400;
	border-radius: 5px 5px 0 0;
	text-align: center
}

.layui-m-layerbtn span,
.layui-m-layerchild h3 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.layui-m-layercont {
	padding: 50px 30px;
	line-height: 22px;
	text-align: center
}

.layui-m-layer1 .layui-m-layercont {
	padding: 0;
	text-align: left
}

.layui-m-layer2 .layui-m-layercont {
	text-align: center;
	padding: 0;
	line-height: 0
}

.layui-m-layer2 .layui-m-layercont i {
	width: 25px;
	height: 25px;
	margin-left: 8px;
	display: inline-block;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: layui-m-anim-loading 1.4s infinite ease-in-out;
	animation: layui-m-anim-loading 1.4s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.layui-m-layerbtn,
.layui-m-layerbtn span {
	position: relative;
	text-align: center;
	border-radius: 0 0 5px 5px
}

.layui-m-layer2 .layui-m-layercont p {
	margin-top: 20px
}

@-webkit-keyframes layui-m-anim-loading {
	0%,
	100%,
	80% {
		transform: scale(0);
		-webkit-transform: scale(0)
	}
	40% {
		transform: scale(1);
		-webkit-transform: scale(1)
	}
}

@keyframes layui-m-anim-loading {
	0%,
	100%,
	80% {
		transform: scale(0);
		-webkit-transform: scale(0)
	}
	40% {
		transform: scale(1);
		-webkit-transform: scale(1)
	}
}

.layui-m-layer2 .layui-m-layercont i:first-child {
	margin-left: 0;
	-webkit-animation-delay: -.32s;
	animation-delay: -.32s
}

.layui-m-layer2 .layui-m-layercont i.layui-m-layerload {
	-webkit-animation-delay: -.16s;
	animation-delay: -.16s
}

.layui-m-layer2 .layui-m-layercont>div {
	line-height: 22px;
	padding-top: 7px;
	margin-bottom: 20px;
	font-size: 14px
}

.layui-m-layerbtn {
	display: box;
	display: -moz-box;
	display: -webkit-box;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 0;
	border-top: 1px solid #D0D0D0;
	background-color: #F2F2F2
}

.layui-m-layerbtn span {
	display: block;
	-moz-box-flex: 1;
	box-flex: 1;
	-webkit-box-flex: 1;
	font-size: 14px;
	cursor: pointer
}

.layui-m-layerbtn span[yes] {
	color: #40AFFE
}

.layui-m-layerbtn span[no] {
	border-right: 1px solid #D0D0D0;
	border-radius: 0 0 0 5px
}

.layui-m-layerbtn span:active {
	background-color: #F6F6F6
}

.layui-m-layerend {
	position: absolute;
	right: 7px;
	top: 10px;
	width: 30px;
	height: 30px;
	border: 0;
	font-weight: 400;
	background: 0 0;
	cursor: pointer;
	-webkit-appearance: none;
	font-size: 30px
}

.layui-m-layerend::after,
.layui-m-layerend::before {
	position: absolute;
	left: 5px;
	top: 15px;
	content: '';
	width: 18px;
	height: 1px;
	background-color: #999;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border-radius: 3px
}

.layui-m-layerend::after {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg)
}

body .layui-m-layer .layui-m-layer-footer {
	position: fixed;
	width: 95%;
	max-width: 100%;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 10px;
	background: 0 0
}

.layui-m-layer-footer .layui-m-layercont {
	padding: 20px;
	border-radius: 5px 5px 0 0;
	background-color: rgba(255, 255, 255, .8)
}

.layui-m-layer-footer .layui-m-layerbtn {
	display: block;
	height: auto;
	background: 0 0;
	border-top: none
}

.layui-m-layer-footer .layui-m-layerbtn span {
	background-color: rgba(255, 255, 255, .8)
}

.layui-m-layer-footer .layui-m-layerbtn span[no] {
	color: #FD482C;
	border-top: 1px solid #c2c2c2;
	border-radius: 0 0 5px 5px
}

.layui-m-layer-footer .layui-m-layerbtn span[yes] {
	margin-top: 10px;
	border-radius: 5px
}

body .layui-m-layer .layui-m-layer-msg {
	width: auto;
	max-width: 90%;
	margin: 0 auto;
	bottom: -150px;
	background-color: rgba(0, 0, 0, .7);
	color: #fff
}

.layui-m-layer-msg .layui-m-layercont {
	padding: 10px 20px
}

@charset "UTF-8";
html,
body,
div,
header,
main,
article,
footer,
section,
aside,
nav,
hgroup,
ul,
li,
h1,
h2,
h3,
h4,
dl,
dt,
dd,
p,
a,
span,
i,
em,
img,
input,
textarea {
	margin: 0;
	padding: 0
}

header,
main,
article,
footer,
section,
aside,
nav {
	display: block
}

html,
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
b {
	font-weight: normal
}

a,
img,
input {
	border: none 0;
	text-decoration: none;
	outline: none
}

a:hover {
	text-decoration: none
}

a:focus,
input:focus {
	outline: 0 none
}

li {
	list-style: none
}

i,
em,
cite {
	font-style: normal
}

a {
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

span {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

input,
textarea,
li {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

textarea {
	resize: none;
	font-size: 12px;
	outline: none 0;
	border: none 0
}

textarea,
input,
button {
	-webkit-appearance: none;
	outline: none 0;
	border: none 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #ddd;
	font-size: 12px
}

img {
	display: block;
	width: 100%
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	*+height: 1%;
}

html {
	font-size: 42.6667px;
}


/*取消滚动条*/

::-webkit-scrollbar {
	display: none;
}

img {
	pointer-events: none;
}


/*禁止图片长按选中*/


/*a,
a:hover {
	color: #282828;
}*/

html,
body {
	min-height: 100%;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/*禁止文字选中*/
	-webkit-overflow-scrolling: touch;
	/*滚动顺滑*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*取消ios上链接长按出现的半透明黑色遮罩*/
	background: #fff;
	overflow-x: hidden;
}


/*超出文字显示省略号*/

.overflowEllipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


/*强制断句*/

.wordBreakAll {
	word-wrap: break-word;
	word-break: break-all;
}


/*加载提示符*/

.infinite-scroll-preloader {
	width: 18px;
	height: 48px;
	overflow: hidden;
	margin: 10px auto 0;
	background: url("http://file.diy.51app.cn/wp/icoImg/loading.gif") no-repeat;
	background-size: 100%;
}


/*到底了提示开始*/

.lastTips {
	width: 100%;
	text-align: center;
	margin: 10px 0 0;
	padding-bottom: 35px;
	color: #a7a5a5;
	font-size: .28rem;
}

.lastTips i {
	display: inline-block;
	margin: 0 5px 5px;
	width: 2rem;
	height: 1px;
}

.lastTips .left-line {
	background: linear-gradient(to right, #d9d9d9, #f0f0f0);
	background: -webkit-linear-gradient(right, #d9d9d9, #f0f0f0);
}

.lastTips .right-line {
	background: linear-gradient(to left, #d9d9d9, #f0f0f0);
	background: -webkit-linear-gradient(left, #d9d9d9, #f0f0f0);
}


/*到底了提示结束*/


/*回到顶部开始*/

#goTop {
	position: fixed;
	bottom: .2rem;
	right: .28rem;
	width: .64rem;
	height: .64rem;
	z-index: 999;
	background: url(../images/hd-gotoTop.png) no-repeat;
	background-size: 100%;
	display: none
}


/*回到顶部结束*/


/*loading页面开始*/

.hd-noLoad {
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	/*display: none;*/
}

.hd-noLoad .hd-loading {
	width: .4rem;
	height: .4rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -.2rem;
	margin-top: -.2rem;
	z-index: 888;
}

.hd-hasLoad {
	display: none;
}


/*loading页面结束*/

.containerBox {
	background: #fff;
	padding-bottom: .3rem;
}


/*首页开始*/

.index .title {
	height: .86rem;
	line-height: .86rem;
	padding-left: .28rem;
	border-bottom: 1px solid #ededed;
	color: #171717;
}

.index .productList {
	/*padding: 0 .28rem;*/
	background: #fff;
}

.index .productItem {
	min-height: 2.15rem;
	/*border-bottom: 1px solid #ededed;*/
	overflow: hidden;
	position: relative;
}

.index .productItem:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 1px solid #dedede;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 200%;
	height: 200%;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: left top;
	transform-origin: left top;
}

.index .productItem:last-child:after {
	border-bottom: 0;
}

.index.containerBox .productItem:active::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 999;
	box-shadow: inset 0 0 1000px rgba(72, 72, 72, .2);
}

.index .productItem .logo {
	position: absolute;
	top: .24rem;
	left: .28rem;
	width: .48rem;
	height: .48rem;
	border-radius: .1rem;
}

.index .productItem .name {
	position: absolute;
	top: .24rem;
	left: 1rem;
	width: 5.5rem;
	height: .48rem;
	line-height: .48rem;
	font-size: .24rem;
	color: #171717;
	font-weight: 600;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.index .productItem .limit {
	position: absolute;
	top: .9rem;
	left: .28rem;
	width: 2.9rem;
	height: .9rem;
}

.index .productItem .limit i {
	display: block;
	width: 100%;
	font-size: .48rem;
	color: #ff5050;
	margin-left: -.02rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.index .productItem .limit span {
	font-size: .22rem;
	color: #9fa1a8;
}

.index .productItem .line {
	width: .02rem;
	height: .68rem;
	background: #eaeaea;
	position: absolute;
	top: 1.1rem;
	left: 3.2rem;
}

.index .productItem .remark {
	position: absolute;
	top: 1.45rem;
	left: 3.36rem;
	width: 3.4rem;
	height: .32rem;
	font-size: .22rem;
	color: #9fa1a8;
	/*display: -webkit-flex;
	display: flex;
  flex-direction: column;
  justify-content: center;*/
}

.index .productItem .remark span {
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/*position: absolute;
	top: 50%;
	transform: translateY(-50%);*/
}

.index .productItem .remark.type2 span {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	white-space: normal;
}

.index .productItem .remark.type2 {
	top: 1rem;
	height: .76rem;
	line-height: .38rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	white-space: normal;
}

.index .productItem .info {
	position: absolute;
	top: 1rem;
	left: 3.36rem;
	width: 3.4rem;
	font-size: .22rem;
	color: #9fa1a8;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.index .productItem .info i {
	font-size: .32rem;
	font-weight: 600;
	color: #236ee7;
	margin-left: .1rem;
}

.index .productItem .info b {
	display: inline-block;
	width: .02rem;
	height: 70%;
	margin: 0 .2rem;
	background: #323232;
	vertical-align: -.04rem;
}

.index .productItem .slogan {
	width: 100%;
	height: .78rem;
	line-height: .78rem;
	padding-left: .7rem;
	font-size: .22rem;
	color: #ff8500;
	margin-top: 1.8rem;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
}

.index .productItem .slogan:after {
	content: '';
	width: .3rem;
	height: .3rem;
	position: absolute;
	top: .22rem;
	left: .28rem;
	background: url(../images/index/slogan-icon.png) no-repeat;
	background-size: 100%;
}

.index .productItem .tips {
	position: absolute;
	top: 0;
	right: 0;
	width: .83rem;
	height: .83rem;
}

.index .banner {
	width: 100%;
	height: 3.3rem;
	position: relative;
	overflow: hidden;
	/*border-bottom: .19rem solid #f5f5f5;*/
}


/*.index .banner img {
	height: 3.3rem;
}*/

.index .banner .imgBox {
	height: 3.3rem;
	overflow: hidden;
}


/*四个导航按钮*/

.index .navBtn {
	overflow: hidden;
	height: 2.1rem;
	font-size: .24rem;
	color: #171717;
	border-bottom: .2rem solid #f5f5f5;
	display: -webkit-flex;
	display: flex;
}

.index .navBtn .nb_item {
	height: 100%;
	color: #171717;
	position: relative;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

.index .navBtn .nb_item img {
	width: .82rem;
	height: .82rem;
	margin: .4rem auto 0;
}

.index .navBtn .nb_item span {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: .2rem;
}

.index .navBtn .nb_item:active::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 999;
	box-shadow: inset 0 0 1000px rgba(72, 72, 72, .2);
}


/*首页结束*/

@font-face {
	font-family: 'num';
	src: url('num.otf') format('opentype');
}


/*信用卡开始*/


/*信用卡结束*/


/*原为额度结果弹窗，后首页要用就直接复制过来了，有时间再封装 开始*/

.result {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: rgba(0, 0, 0, .3);
	display: none;
}

.result .r-main {
	position: fixed;
	top: 30%;
	left: 10%;
	right: 10%;
	height: 4.12rem;
	z-index: 999;
	/*background: rgba(0, 0, 0, .5);*/
	background: url(../images/questionnaire/result_bg.png) no-repeat;
	background-size: 100%;
}

.result .r-text {
	position: absolute;
	top: 15%;
	left: 0;
	right: 0;
	color: #fff;
	font-size: .3rem;
	text-align: center;
}

.result .r-num {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	color: #fff;
	font-family: 'num';
	font-size: .76rem;
	text-align: center;
}

.result .r-ok {
	position: absolute;
	top: 71.7%;
	left: 0;
	width: 100%;
	height: 1.17rem;
	line-height: 1.17rem;
	background: #fff;
	color: #000;
	text-align: center;
	font-size: .32rem;
	border-radius: 0 0 .15rem .15rem;
	/*background: rgba(0, 0, 0, .5);*/
}

.result .r-pos {
	width: 100%;
	height: .54rem;
	line-height: .54rem;
	text-align: center;
	font-size: .24rem;
	color: #fff;
	background: rgba(255, 255, 255, .2);
	margin-top: 2.4rem;
}

.result .r-pos i {
	color: #f1ff0e;
}

.result .ro-2 {
	width: 100%;
	height: 100%;
}

.result .ro-2_1 {
	float: left;
	width: 50%;
	position: relative;
}

.result .ro-2_1:after {
	content: '';
	position: absolute;
	top: .34rem;
	right: 0;
	width: 1px;
	height: .46rem;
	background: #dedede;
}

.result .ro-2_2 {
	float: left;
	width: 50%;
	color: #f14d29;
}


/*原为额度结果弹窗，后首页要用就直接复制过来了，有时间再封装 结束*/